[submodule "nodevoto-gif"]
	path = nodevoto-gif
	url = https://github.com/tomasz-pucka/nodevoto-gif.git
[submodule "nodevoto-voting"]
	path = nodevoto-voting
	url = https://github.com/tomasz-pucka/nodevoto-voting.git
